@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(180deg, rgba(197, 6, 6, 0.905) 1%, rgba(209, 5, 5, 0.755) 25%, #0d02d0 100%, #e4dedee3 100%);    
    border: none;
}

.CabecalhoHeader {
   height: 300px;

}

.CabecalhoContainer {

    display: flex;
    justify-content: center;
   

}

.ImageContainer {
    height: 200px;
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;

}

.cabecalho-imagem {
    height: 350px;
   
}

.cabecalho {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 15px;
}


.cabecalho-menu {
  display: flex; 
  gap: 100px; 
}

@media (max-width: 430px){
    .cabecalho-menu {
        width: 30%;
        padding: 20px -10px;
        display: block;
        justify-content: space-around;
    }
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: rgba(255, 242, 231, 1);
    font-weight: 400;
    font-size: 20px;
}

.conteudo {
    margin-bottom: 300px;
    border-top: 0.5px solid #070707
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

@media (max-width: 560px) {

.conteudo-principal {
    display: inline-block;
   
}
}

.conteudo-principal-escrito {
 display: flex; 
 flex-direction: column; 
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;  
    color: #070707;
} 

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;  
    color: #070707;
 }

 .conteudo-principal-escrito-botao{
     background-color: #c40a0a;
     width: 180px;
     height: 60px;
     border: none;
     box-shadow: 4px 5px 4px rgb(0, 0, 0);
     border-radius: 20px;
     font-family: 'Righteous', cursive;
     font-weight: 400;
     font-size: 20px; 
     color: #ffffff;
 }
 

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(25, 10, 158, 0.905);  

}
 .conteudo-principal-imagem {
  height: 530px;
  width: 220px;   
 }

 
@media (max-width: 560px) {

    .conteudo-principal-imagem {
       width: 100%;
       padding: 20px 0;
       display: flex;
       justify-content: center;
    }

}

 .conteudo-secundario{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     margin-top: 48px;
 }

@media (max-width: 430px) {
    .conteudo-secundario{
        width: 100%;
        padding: 0px 0;
        display: block;
        
    }
    
}

 .conteudo-secundario-titulo {
     border-top: 0.5px solid rgba(255, 242, 231, 1);
     padding-top: 48px;
     font-family: 'Righteous', cursive;
     font-weight: 400;
     font-size: 24px;
     color: #fff2ef;
     margin-bottom: 10px;
 }

 .conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color:rgba(255, 242, 231, 1);
 }

 @media (max-width: 440px) {
    .conteudo-secundario-paragrafo{
        width: 100%;
        padding: 0px -10px;
        display: center;
    }
}

 .rodape {
  padding: 20px;
  border-top: 0.5px solid #000000;
}

@media (max-width: 380px) {
    .rodape-imagem {
        max-width: 300px;
        

    }

}

.rodape-imagem {
    width: 100%;
    height: 100px;
    display: block;
    margin: 0 auto;   
    

}